language: node_js
node_js:
  - "8"
script:
  - npm install -g grunt-cli

deploy:	
  provider: heroku	
   app: arcane-ocean-22216	
  api_key:	
    secure: 34864e62-2e4c-4bbb-8886-e6f56ad9da07
  skip_cleanup: true
